@model ConsoleApplication.Models.ViewModels.CategoriesItemsViewModel
@section styles{
    <link rel="stylesheet" href="/stylesAdmin.css" />
}

<div class= "left-panel">
    <form asp-controler="Admin" asp-action="index" method="get" class="form-horizontal" style="margin-top:10%">
    <fieldset>
        <legend>Choose the format</legend>
        
            @for(int i=0; i< Model.Categories.Count; i++)
            {   <div>
                 <input type="checkbox" name="format" checked="@Model.Categories[i].Selected" value="@Model.Categories[i].CategoryType">@Model.Categories[i].CategoryType 
                 </div>
            }   
    </fieldset>
    
</div>

    <div class="form-actions no-color">
        <p>
            <input type="radio" name="sortOrder" value="@ViewData["NameSortParm"]">Title
            <input type="radio" name="sortOrder" value="@ViewData["DescriptionSortParm"]">Description
            <input type="radio" name="sortOrder" value="@ViewData["TagsSortParm"]">Tags
            <input type="radio" name="sortOrder" value="@ViewData["FormatSortParm"]">Format
            <input type="radio" name="sortOrder" value="@ViewData["DateSortParm"]">Date
            Find by name: <input id="searchField" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class= "adminContainer">
<table class="table table-striped table-hover table-responsive" > 
        <thead class="row">
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Title</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParm"]">Description</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TagsSortParm"]">Tags</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["FormatSortParm"]">Format</a></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a></th>
            <th><span class="col-xs-offset-1">Action<span></th>
        </thead>
        <tbody style="text-align: left; dysplay:block; min-width:30vw; height:300px; overflow-y:auto; overflow-x:hidden">
     @foreach(var s in Model.Items)
        {           
            <tr class = "rowInfo"> 
                @if(s.Format.Equals("Link"))
                {
                    <td><a href=@s.Link>@s.Title</td>
                }
                else
                {
                    <td>@s.Title</td>
                }
                <td style="overflow-y:hidden; max-width:50px">@s.Description</td>
                <td>@s.Tags</td>
                <td>@s.Format</td>
                <td>@s.date</td>
                <td class="row">
                    <a class="btn btn-danger btn-sm col-xs-4 col-xs-offset-1" style="min-width:35%" asp-controller="Admin" asp-action="Delete" asp-route-id=@s.ItemID method="GET">Delete</a> 
                    @if(!s.Format.Equals("Link"))
                    {
                        <a class="btn btn-danger btn-sm col-xs-4 col-xs-offset-1" style="min-width:35%" asp-controller="Admin" asp-action="Download" asp-route-id=@s.ItemID >Download</a>
                    }
                </td>  
            </tr>     
        }
        </tbody>
      </table>
</div>