@model ConsoleApplication.Models.ViewModels.CategoriesItemsViewModel
@section styles{
    <link rel="stylesheet" href="/styles.css" />
}
<div class="col-md-2 col-xs-1">
<div class= "panel panel-primary panel-shadow" style="position: relative;
    margin:auto;
    padding: 2hv;
    float: left;
    margin-left:2vh;
    margin-right:4vh">
    <div class="panel-heading">Search and Sort</div>
    <div class="panel-body">
    <form asp-controler="Home" asp-action="index" method="get" class="form-horizontal" style="margin-top:10vh">
    <fieldset>
        <legend>Categories</legend>
        <div style="max-height:10vh; width:20vh; overflow:auto">
            @for(int i=0; i< Model.Categories.Count; i++)
            {   <div class="col-md-3 col-xs-1">
                 <input type="checkbox" name="format" checked="@Model.Categories[i].Selected" value="@Model.Categories[i].CategoryType">@Model.Categories[i].CategoryType 
                 </div>
            } 
        </div>  
    </fieldset>
    
    <div class="form-actions no-color">
        <fieldset style="margin-top:3vh">
        <legend>Sort</legend>
        <p>
            <input type="radio" name="sortOrder" value="@ViewData["NameSortParm"]">Title
            <input type="radio" name="sortOrder" value="@ViewData["DateSortParm"]">Date
            <fieldset style="margin-top:3vh">
            <legend>Search</legend>
            Find by name/tag: <input id="searchField" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" style="margin-bottom:5vh" class="btn btn-default" /> 
            <br>    
            <a asp-action="Index" style="font-size:150%">Back to Full List</a>
        </p>
    </div>
</form>
</div>
</div>
</div>
<div class="col-md-8 col-xs-10">
<div class="panel panel-primary panel-shadow " style="overflow:auto; max-height:80vh;   margin-left:2vh; align-content: center;  ">
    <div class="panel-heading">Files</div>
    <div class="panel-body">

     @foreach(var s in Model.Items)
        {           
            <div class="col-xs-3 panel panel-info panel-shadow" style="width: 35vh;
    height: 45vh;
    margin-left :5vh;
    border-radius: 1.5vh;
    border-color:black;">
    
    @if(s.Format.Equals("Link"))
                {
                    <div class="panel-heading" style="font-size:130%; font-weight:bold"><a href=@s.Link>@s.Title</a> </div>
                }
                else
                {
                    <div class="panel-heading" style="font-size:130%; font-weight:bold">@s.Title</div>
                }
                <div class="panel-body">
                <div class="row">
                    <div class="field">
                        <div class="row">
                        <p>Added/Modified</p>    
                        @s.date
                        </div>
                    </div>
                <textarea readonly class="description" style="font-size:100%">@s.Description</textarea>

                <div class="hbox" style="margin-bottom:5vh">
                    <a class="btn btn-primary btn-sm col-xs-2 col-xs-offset-1" style="width:10vh" asp-controller="Home" asp-action="Update" asp-route-id=@s.ItemID >Edit</a>
                    @if(!s.Format.Equals("Link"))
                    {
                        <a style="float:right; margin-right:4vh; width:10vh" class="btn btn-danger btn-sm col-xs-3 col-xs-offset-2" asp-controller="Home" asp-action="Download" asp-route-id=@s.ItemID >Download</a>
                    }
                    else
                    {
                        <a target="_blank" href=@s.Link style="float:right; margin-right:4vh; width:10vh" class="btn btn-danger btn-sm col-xs-3 col-xs-offset-2" >View</a>
                    }
                </div>
                <div style="height:5vh">Added/Modified by: @s.Author</div>
                <div>Tags: @s.Tags</div>
                    
            </div>
            </div>
            </div>
        }
    </div>
</div>
</div>
<div class="col-md-6 col-xs-1"></div>