@model ConsoleApplication.Models.ViewModels.CategoriesItemsViewModelDB
@section styles{
    <link rel="stylesheet" href="/styles.css" />
}
<div class="col-md-2 col-xs-4">
<div class= "panel panel-primary panel-shadow panel-left-mobile" style="position: relative;
    margin:auto;
    padding: 2hv;
    float: left;
    margin-left:2%;
    margin-right:6vh;
    max-height:92vh">
    <div class="panel-heading">Search and Sort</div>
    <div class="panel-body">
    <form asp-controller="DropBox" asp-action="index" method="get" class="form-horizontal" style="margin-top:3vh">
    <fieldset>
        <legend>Categories</legend>
        <div class="format-checkbox" >
            @for(int i=0; i< Model.Categories.Count; i++)
            {   <div class="col-xs-3">
                 <input type="checkbox" name="format" checked="@Model.Categories[i].Selected" value="@Model.Categories[i].CategoryType">@Model.Categories[i].CategoryType 
                 </div>
            } 
        </div>  
    </fieldset>
    
    <div class="form-actions no-color">
        <fieldset style="margin-top:3vh">
        <legend>Sort</legend>
        <p>
            <input type="radio" name="sortOrder" value="@ViewData["NameSortParm"]">Title
            <input type="radio" name="sortOrder" value="@ViewData["DateSortParm"]">Date
            <fieldset style="margin-top:3vh">
            <legend>Search</legend>
            Find by name/tag: <input id="searchField" type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input id="btnMobile" type="submit" value="Search" style="margin-bottom:3vh" class="btn btn-default" /> 
            <br>    
            <a asp-action="Index" style="font-size:150%">Back to Full List</a>
        </p>
    </div>
</form>
</div>
</div>
</div>
<div class="col-md-8 col-xs-8">
<div class="panel panel-primary panel-shadow panel-primary-mobile " style="overflow:auto; max-height:80vh;   margin-left:2vh; align-content: center;  ">
    <div class="panel-heading">Files</div>
    <div class="panel-body">

     @foreach(var s in Model.Items)
        {           
            <div id="panelMobile" class="col-md-3 col-xs-3 panel panel-info panel-shadow panel-mobile" style="
    margin-left :5%;
    border-radius: 1.5vh;
    border-color:black;
    ">
    
    @if(s.Format.Equals("Link"))
                {
                    <div class="panel-heading" style="font-size:1.8vh; font-weight:bold"><a target="_blank" href=@s.Link>@s.Title</a> </div>
                }
                else
                {
                    <div class="panel-heading" style="font-size:1.8vh; font-weight:bold">@s.Title</div>
                }
                <div class="panel-body" style="max-height: 30vh">
                <div class="row">
                    <div class="field field-mobile">
                        <div class="row">
                        <p>Added/Modified</p>    
                        @s.date
                        </div>
                    </div>
                <textarea readonly class="description description-mobile" style="font-size:100%">@s.Description</textarea>

                
                    <a class="btn btn-primary btn-sm btn-mobile" style="margin-left:1.3vw; marign-right:3vw" asp-controller="DropBox" asp-action="Update" asp-route-id=@s.ItemID >Edit</a>
                    @if(!s.Format.Equals("Link"))
                    {
                        <a style="float:right; margin-right:4vh;" class="btn btn-danger btn-mobile " asp-controller="DropBox" asp-action="Download" asp-route-id=@s.ItemID >Download</a>
                    }
                    else
                    {
                        <a target="_blank" href=@s.Link style="float:right; margin-right:4vh; width:5vw " class="btn btn-danger btn-sm btn-mobile" >View</a>
                    }
                
                <div style="height:5vh">Added/Modified by: @s.Author</div>
                <div>Tags: @s.Tags</div>
                    
            </div>
            </div>
            </div>
        }
    </div>
</div>
</div>
